<!DOCTYPE html>
<html>
<head>
  <title>Gold Search</title>
  <link href="/admin.css" rel="stylesheet" type="text/css" />
  <meta content="width=device-width" name="viewport" />
  <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
  <script src="/uploadcare_3.0.0/plugin.js"></script>
  <script src="/embedbase/plugin.js"></script>
  <script src="/embed/plugin.js"></script>
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive gphotos";
    UPLOADCARE_PUBLIC_KEY = 'be9ec2504094b8a1631c'
    UPLOADCARE_PREVIEW_STEP = true;
    UPLOADCARE_EFFECTS = 'crop';
  </script>
</head>
<body>
  <header>
    <a href="/">Gold Search</a>
    <a href="/admin">Адмінка</a>
    <a href="/admin/logout">Вийти</a>
  </header>
  <%= yield %>
</body>
</html>
