<!DOCTYPE html>
<html>
<head>
  <title>Gold Search</title>
  <meta content="width=device-width" name="viewport" />
  <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>
  <script src="/uploadcare_3.0.0/plugin.js"></script>
  <script src="/embedbase/plugin.js"></script>
  <script src="/embed/plugin.js"></script>
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive gphotos";
    UPLOADCARE_PUBLIC_KEY = 'be9ec2504094b8a1631c'
  </script>
</head>
<body>
  <header>
    <nav>
     <ul class="content">
        <li class="title">
        <a href="/">Gold Search</a>
        </li>
        <li>
          <!-- <a href="/team">Команда</a> -->
          <a href="/admin">Admin</a>
        </li>
       <!--  <li>
          <a href="/ua">UA</a>
          <a href="/ru">RU</a>
          <a href="/en">EN</a>
        </li> -->
     </ul> 
    </nav>
  </header>
  <%= yield %>
</body>
</html>