<form action='/admin/login' method="post" class="login">
  <div>Адмінка</div>
  <br>
  <input type='password' name='password' placeholder="пароль...">
  <br>
  <br>
  <input type="submit" value='Ввійти'>
</form>
