@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Yanone+Kaffeesatz:400,300,200");
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

header, footer {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.sp-font {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bg01 {
  background: url('images/bg02.jpg');
}

.bg02 {
  background: bottom repeat-x url('images/bg01.jpg') #222628;
}

.bg02-rotated {
  transform: rotate(180deg);
  background: url('images/bg01.jpg');
}

.dropdown-window {
  display: none;
  position: absolute;
  opacity: 0.95;
  border-radius: 3px;
  width: max-content;
  z-index: 1;
}
.dropdown:hover > .dropdown-window {
  display: block;
}

.moto {
  padding-left: 48px;
}

@media all and (min-width: 1024px) {
  .lg\:max-w-75 {
    max-width: 75%;
  }
  .lg\:min-w-33 {
    min-width: 30%;
  }
}

.flex-max-3 {
  flex: 1 0 30%;
}

article {
  h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    text-align: center;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  img {
    padding: 4px;
    width: auto;
  }
  a {
    text-decoration: underline;
    color: #bbb;
  }
  ul li {
    margin-left: 20px;
    margin-top: 5px;
  }
  ul li:before {
    margin-left: -20px;
    content: '\1F528';
  }
  ol {
    margin-left: 20px;
    list-style-type: decimal;
  }
  ol li {
    margin-top: 5px;
  }
}

.cc {
  max-width: 1260px;
}
.ccc {
  max-width: 1260px;
}
@media all and (min-width: 1260px) {
  .ccc {
    max-width: 1276px;
  }
}
