<main>
  <section class="bg02 rounded shadow-lg m-2 xl:mx-auto cc">
    <h1 class="sp-font text-4xl text-center font-thin"><%= article[:title] %></h1>
  </section>
  <article class="rounded shadow-lg bg02 p-2 sm:px-6 sm:py-4 m-2 overflow-hidden xl:mx-auto cc">
    <%= article[:body] %>
  </article>
</main>
