<main class="xl:mx-auto ccc sm:flex block items-start">
  <section style="flex:2" class="flex sm:block bg-bottom bg02 rounded shadow-lg m-1 mb-2">
    <img class="rounded h-40 sm:h-auto w-auto sm:w-full" src="<%= engineer[:image] %>">
    <div class="px-6 py-4">
      <h2 class="sp-font text-2xl sm:text-3xl"><%= engineer[:name] %></h2>
      <h3 class="sp-font font-thin text-md sm:text-2xl"><%= engineer[:specialty] %></h3>
    </div>
  </section>
  <article style="flex:5" class="rounded shadow-lg bg02 px-6 py-4 m-1 overflow-scroll"><%= engineer[:desc] %></article>
</main>
