<main>
  <div class="content">
    <div class="engineer">
      <div class="portrait">
      <img src="<%= engineer[:image] %>">
    </div>
      <h2><%= engineer[:name] %></h2>
      <h3><%= engineer[:specialty] %></h3>
      <p class="resume"><%= engineer[:desc] %></p>
    </div>
  </div>
</main>
