<main class="leading-relaxed">
  <% sliders.all.each_with_index do |slider, i| %>
    <section class="bg02 rounded shadow-lg m-2 xl:mx-auto cc md:flex sliders md:rounded-special">
      <div id="slider<%= i %>" class="h-48 md:h-auto md:w-48 flex-1 bg-center bg-cover rounded-t md:rounded-t-none overflow-hidden animated" style="background-image: url('<%= slider[:image_1] %>'); min-height: 250px">
      </div>
      <div class="p-4 text-justify" style="flex:2">
        <%= slider[locale[:text]] %>
      </div>
    </section>
  <% end %>
</main>

<script>
  const sliders = <%= sliders.map{ |s| [s[:image_1], s[:image_2], s[:image_3], s[:image_4], s[:image_5]].compact } %>
  let indexes = []

  sliders.forEach(function (slider, i) {
    indexes[i] = slider.length;
    slider_index = 0;
    slider.forEach(function (image_src) {
      let image = new Image();
      image.src = image_src;
    })
  })

  setInterval(function(){
    let slider = slider_index % sliders.length;
    indexes[slider]++;
    document.getElementById("slider" + slider).style.backgroundImage = "url('" + sliders[slider][indexes[slider] % sliders[slider].length] + "')"
    slider_index++;
  }, 500);
</script>
