<main class="">
  <% sliders.all.each_with_index do |slider, i| %>
    <section class="bg02 rounded shadow-lg m-2 xl:mx-auto cc md:flex">
      <div id="slider<%= i %>" class="h-48 md:h-auto md:w-48 flex-1 bg-center bg-cover rounded-t md:rounded-t-none md:rounded-l overflow-hidden" style="background-image: url('<%= slider[:image_1] %>')">
      </div>
      <div class="p-4" style="flex:2">
        <%= slider[locale[:text]] %>
      </div>
    </section>
  <% end %>
</main>

<script>
  let sliders = <%= sliders.map{ |s| [s[:image_1], s[:image_2], s[:image_3], s[:image_4], s[:image_5]].compact } %>
  let cur_index = 0

  setInterval(function(){
    sliders.forEach(function (slider, i) {
      document.getElementById("slider" + i).style.backgroundImage = "url('" + slider[cur_index % slider.length] + "')"
      cur_index++
    })
  }, 2000);
</script>
