<main class="relative" style="z-index: -1">
  <% sliders.all.each_with_index do |slider, i| %>
    <div class="bg02 rounded shadow-lg m-2 xl:mx-auto cc md:flex">
      <div id="slider<%= i %>" class="h-48 md:h-auto md:w-48 flex-1 bg-center bg-cover rounded-t md:rounded-t-none md:rounded-l overflow-hidden" style="background-image: url('<%= slider[:image_1] %>')">
      </div>
      <div class="p-4" style="flex:2">
        <% sliders.first[locale[:text]] %>
        Ми пропонуємо супровід, виконання поточних чи аудит уже виконаних геологорозвідувальних робіт. Роботи виконуємо без посередників, без додаткових витрат. Розрахунок за виконані роботи може проводитися безпосередньо з виконавцями. У розділі «Наша команда», Ви зможете самі підібрати собі необхідних спеціалістів. Ми відповідно організуємо їх виліт до місця призначення.
  Використовуючи наш досвід, знання та вміння у галузі рудної та нерудної геології, ми можемо суттєво допомогти Вам уникнути небажаних ризиків у цій сфері бізнесу, найти вірний підхід та шляхи в оцінці, підготовці та реалізації проектів пов’язаних з пошуками, розвідкою та видобуванням корисних копалин у будь якому місці нашої планети.
  Золото, солі, нафта, газ, вода, далеко не повний перелік корисних копалин в оцінці об’єктів яких ми маємо достатній багаж знань та вмінь.

  Рудні та розсипні родовища золота нами були вивчені та оцінені в різних країнах нашої планети.
      </div>
    </div>
  <% end %>
</main>

<script>
  let sliders = <%= sliders.map{ |s| [s[:image_1], s[:image_2], s[:image_3], s[:image_4], s[:image_5]].compact } %>
  let cur_index = 0

  setInterval(function(){
    sliders.forEach(function (slider, i) {
      document.getElementById("slider" + i).style.backgroundImage = "url('" + slider[cur_index % slider.length] + "')"
    })
    // document.getElementById("pic").style.backgroundImage = "url('/images/logo.png')"
  }, 2000);
</script>
