<main>
  <% articles.each do |article| %>
  <p>
    <a href="/<%= article[:slug] %>">
      <%= article[:title] %>
      </span>
    </a>
  </p>
<% end %>
<!--   <div class="content">
    <section class="flex">
      <div class="img">
        <img src="/images/oa-premises.jpg">
      </div>
      <div class="img">
        <img src="/images/oa-premises.jpg">
      </div>
      <div class="img">
        <img src="/images/oa-premises.jpg">
      </div>
    </section>
    <section class="flex">
      <div class="img">
        Hi guys, some text here! Hi guys, some text here! Hi guys, some text here!
      </div>
      <div class="img">
        Hi guys, some text here! Hi guys, some text here! Hi guys, some text here!
      </div>
      <div class="img">
        Hi guys, some text here! Hi guys, some text here! Hi guys, some text here!
      </div>
    </section>
  </div> -->
</main>
