<main>
  <section class="bg02 rounded shadow-lg m-2 xl:mx-auto cc">
    <h1 class="sp-font text-4xl text-center font-thin">Man, there is nothing here!</h1>
  </section>
</main>
  <article class="rounded shadow-lg bg02 p-2 sm:px-6 sm:py-4 m-2 overflow-hidden xl:mx-auto cc text-center" style="padding: 50px 0px;">
    Seems like this page does not exist. Check our other pages!
    <a href="/">Home</a>
  </article>
</main>
