@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Yanone+Kaffeesatz:400,300,200");
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #fff;
  background: url('images/bg02.jpg');
}


footer {
  background: url('images/bg01.jpg');
  position: relative;
  font-size: 32px;
}

footer .content {
  display: flex;
  justify-content: space-around;
}

a {
  color: #fff;
  text-decoration: none;
}

/*nav {
  border-bottom: solid 1px #222628
}*/

header div.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  font-size: 2.25em;
  color: #c6c8c8;
  padding: 5px 20px;
}
header.top {
  position: fixed;
  right: 0;
  left: 0;
  background: url('images/bg02.jpg');
  z-index: 7;
}
header.bottom {
  background: url('images/bg01.jpg');
  padding-top: 32px;
}
header.top div.content {
  font-size: 1.2em;
  padding: 2px;
  justify-content: space-around;
}

nav ul a {
  color: #c6c8c8;
}
nav ul li{
  padding: 10px;
}
nav ul li.title a {
  font-weight: 300;
  color: #fff;
}

.title a .text {
  display: inline-block;
  margin-top: 10px;
}

.title a .text .main{
  margin-top: -16px;
}

.title a .text .sub{
  font-size: 0.4em;
  margin-top: -10px;
  vertical-align: sub;
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px 20px;
}

/*article {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
}*/
/*div.img {
  border: 10px solid #fff;
}
div.img img {
  height: 200px;
}*/
.article img {
  margin: 0 10px;
}

main h1{
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

main h2{
  font-size: 24px;
  font-weight: 300;
}
main h3{
  font-size: 20px;
  font-weight: 300;
}

main p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}

/*body main{
  font-family: 'Open Sans', sans-serif;
}*/

body main ul li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: circle;
  font-size: 14px;
  margin-left: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
}



nav>ul>li {
    padding: 0 5px;
    display: inline-block;
    position: relative
}

nav>ul>li>ul {
    display: none;
    position: absolute;
    background: url('images/bg01.jpg');
    opacity: 0.9;
    width: 250px;
    border-radius: 3px;
    z-index: 5;
}

nav>ul>li>ul>li {
    padding: 6px 10px
}

nav>ul>li>ul>li>ul {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.9;
    width: 250px;
    border-radius: 0 3px 3px;
    left: 250px;
    top: 20px
}

nav>ul>li>ul>li>ul>li {
    padding: 6px 10px
}

nav>ul>li>ul.sub:hover {
    border-radius: 0 3px
}

nav>ul>li:hover>ul {
    display: block
}

nav>ul>li:hover>ul>li:hover>ul {
    display: block
}


.cards {
  display: flex;
  flex-flow: wrap;
  /*font-family: 'Montserrat', sans-serif;*/
}

.cards .card {
    box-sizing: border-box;
    flex: 1;
    height: 230px;
    min-width: 350px;
    background-size:cover;
    text-align: center;
    padding-top: 95px;
    margin: 10px;
    font-size: 32px;
    font-weight: 200;
  }

.engineer:after {
  content: '';
  display: block;
  clear: both;
  height: 10px;
}

.engineer .resume{
  white-space: pre-wrap;
}
.engineer .portrait img {
  max-width: 100%;
  max-height: 100%;
}
.engineer .portrait {
  float: left;
  margin-right: 10px;
  height: 280px;
  width: 210px;
}

main .engineer a, main .arcticle a {
  color: #bbb;
  text-decoration: underline;
}

main .engineer a.more {
    background-color: #ddd;
    color: #555;
    border-radius: 4px;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    text-decoration: none;
}

main .engineer a:hover, main .arcticle a:hover {
  color: #fff;
}

main em {
  font-style: italic;
}

main strong {
  font-weight: 700;
}

.home {
  font-family: 'Open Sans', sans-serif;
}

.home .swiper-container  {
  /*margin-top: -44px;*/
}

.home .content .swiper-top {
  width: 350px;
  height: 350px;
}

.home .content .text-top {
  white-space: pre-wrap;
  width: 850px;
  padding-right: 15px;
}

.home .content .text-bottom {
  flex: 1;
  white-space: pre-wrap;
  margin-top: 20px;
}

.home .content .swiper-bottom {
  flex: 1;
  height: 350px;
}
header.bottom img {
  height: 75px;
  width: 75px;
  margin-bottom: -23px;
  margin-top: -8px;
}

.swiper-slide {
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: 0 50px !important;
}

.home .content {
  display: flex;
}

.home .content:nth-child(2n) {
  flex-direction: row-reverse;
}

.home .content:nth-child(2n+1) .text-bottom {
  padding-right: 15px;
}
.home .content:nth-child(2n) .text-bottom {
  padding-left: 15px;
}